.buttonStats {
    -fx-background-color: #282828;
    -fx-background-radius: 0em;
}
.buttonStats:hover {
    -fx-background-color: #6393E7;
    -fx-background-radius: 1em;
}
.buttonStats:pressed {
    -fx-background-color: #165DCE;
    -fx-background-radius: 1em;
}
.buttonStats:focused {
    -fx-background-color: #165DCE;
    -fx-background-radius: 1em;
}