.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #F1F2F3;
}
.table-view .column-header .label {
    -fx-text-fill: #52438F;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT
}
.table-row-cell:selected {
    -fx-background-color: rgb(226,222,242);
}
.table-row-cell:selected .text {
    -fx-fill: #52438F;
}


.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:derive(#7156DD, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#7156DD, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


/*Chart properties*/
.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
    -fx-tab-min-height: 30px;
}

.tab {
    -fx-background-insets: 0 0 0 0, 0, 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab {
    -fx-background-color: #F1F2F3;
}

.tab-pane .tab:selected {
    -fx-background-color: #F1F2F3;
    -fx-text-fill: #6F5CC2;
    -fx-border-color: #6F5CC2;
    -fx-border-width: 0px 0px 2px 0px;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #A5A9B4;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #6F5CC2;
}